nav {
    background-color: #563d7c!important;
}

.bottom-navbar a {
    color: #FFFFFF!important;
}

.navbar {
    padding-top: 0;
}

.card {
    margin: 10px 0 10px 0;
}

.card-body {
    padding: 2rem!important;
}

/* .card-section {
    padding-right: 0;
} */

.side-content {
    margin-top: 25px;
    padding-left: 0;
}