* {
    font-family: 'Asap', sans-serif;
}

#vote-form {
    padding-bottom: 10px;
}

nav {
    /* background-color: #563d7c!important; */
    background-color: #69306D !important;
}

.bottom-navbar a {
    color: #FFFFFF !important;
}

.navbar {
    padding-top: 0;
}

.card {
    margin: 10px 0 10px 0;
    background-color: #0E103D!important;
    color: #D3BCC0;
}

.card-body {
    padding: 2rem !important;
}

.card-title {
    padding-bottom: 10px;
}

.card-subtitle {
    padding-bottom: 10px;
}

.card-text {
    padding-bottom: 10px;
}

.fa-star {
    color: #F2D7EE;
}

.side-content {
    padding-left: 0;
}

.flash-row {
    margin-top: 15px;
}

.alert {
    background-color: #563d7c !important;
    color: #FFFFFF !important;
}

/* Button styling */
.btn-custom {
    color: #F2D7EE;
    background-color: #A5668B;
    border-color: #F2D7EE;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
    color: #F2D7EE;
    background-color: #69306D;
    border-color: #F2D7EE;
}

.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
    background-image: none;
}

.btn-custom.disabled,
.btn-custom[disabled],
fieldset[disabled] .btn-custom,
.btn-custom.disabled:hover,
.btn-custom[disabled]:hover,
fieldset[disabled] .btn-custom:hover,
.btn-custom.disabled:focus,
.btn-custom[disabled]:focus,
fieldset[disabled] .btn-custom:focus,
.btn-custom.disabled:active,
.btn-custom[disabled]:active,
fieldset[disabled] .btn-custom:active,
.btn-custom.disabled.active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom.active {
    background-color: #A5668B;
    border-color: #F2D7EE;
}

.btn-custom .badge {
    color: #A5668B;
    background-color: #F2D7EE;
}