{% extends 'base.html' %} {% block content %}


    <div class="card text-white bg-dark">
        <div class="card-body">
            <h5 class="card-title">Add Definition</h5>
            <form action="{{ url_for('insert_definition') }}" method="POST">
                <div class="form-group">
                    <label class="card-subtitle mb-2 text-muted" for="input_name">Your name</label>
                    <input type="text" class="form-control" id="input_name" name="author" aria-describedby="author name"
                           placeholder="Your name">
                </div>

                <div class="form-group">
                    <label class="card-subtitle mb-2 text-muted" for="definition_name_input">Definition</label>
                    <input type="text" class="form-control" id="definition_name_input" name="definition_name" placeholder="Definition name">
                </div>

                <div class="form-group">
                    <label class="card-subtitle mb-2 text-muted" for="definition_input">Enter the definition / description</label>
                    <textarea class="form-control" id="definition_input" name="definition" rows="10"></textarea>
                </div>

                <button type="submit" class="btn btn-block btn-info">Submit</button>
            </form>
            <br>
            <a href="/space"><button class="btn btn-block btn-danger">Cancel</button></a>
        </div>
    </div>

{% endblock %}