{% extends 'base.html' %}
{% block content %}
    <div class="row">
        {% for d in definitions %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ d.definition_name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ d.author }}</h6>
                    <p class="card-text">{{ d.definition }}</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
            {{ d.definition_name }} {{ d.definition }} {{ d.author }} {{ d.date }}
            {{ d.votes }} {{ d.top_definition }}
        {% endfor %}

    </div>
{% endblock %}