{% extends 'base.html' %}
{% block content %}
    <div class="row text-decoration-none">
        <div class="col-md-9 card-section">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="row flash-row">
                        <div class="col-12">
                            <div class="alert alert-danger flashes" role="alert">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endwith %}

            {% for d in definitions %}
                <div class="card text-white bg-dark">
                    <div class="card-body">
                        <h5 class="card-title">{{ d.definition_name }} {% if d.top_definition %}
                            <i class="fas fa-star"></i>{% endif %}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ d.author }}, Original Author</h6>
                        <p class="card-text">{{ d.definition }}</p>
                        <div class="card-links-container row">
                            <div class="col">
                                <form id="vote-form" action="{{ url_for('add_vote', def_id=d._id) }}" method="post">
                                    <input type="hidden" id="def_id" name="def_id" value={{ d._id }}>
                                    <button type="submit" class="btn btn-info"><i class="fas fa-thumbs-up"></i>
                                        {{ d.votes }}</button>
                                </form>
                            </div>
                            <div class="col">
                                <div class="edit-container">
                                    <a href="{{ url_for('edit_definition', def_id=d._id) }}">
                                        <button class="btn btn-info"><i class="fas fa-edit"></i> Click here to edit
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card-footer">
                            <small class="card-subtitle mb-2 text-muted footer-date">Created
                                on: {{ d.date.strftime('%Y-%m-%d, %H:%M:%S') }}</small>
                        </div>
                        {% if d.updated_when %}
                            <div class="card-footer">
                                <small class="card-subtitle mb-2 text-muted footer-updated">
                                    Edited on: {{ d.updated_when.strftime('%Y-%m-%d, %H:%M:%S') }} by
                                    <strong>{{ d.editor }}</strong>
                                </small>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-3 d-none d-sm-none d-md-block side-content">
            <div class="card bg-light text-center">
                <img src="../static/images/saturn.png" alt="Planet Saturn" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">The Final 'Definition' Frontier</h4>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text">Space and Astronomical terms that are out of this world!</p>
                    <a href="{{ url_for('add_definition') }}" class="card-link text-reset">
                        <button type="button" class="btn btn-block btn-info"><i
                                class="fas fa-plus-circle"></i></button>
                    </a>
                </div>

            </div>
        </div>
    </div>

{% endblock %}